.hero-banner {
    background-image: url(img/bg2.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
    filter: blur(0px);
}

#carouselmain::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
    filter: blur(5%);
}

.hero-banner::after {
    z-index: 0;
}

.carousel-caption {
    z-index: 99999;
}

.center-txt {
    text-align: center;
}

.hero-heading {
    margin: 200px auto 0px auto;
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 5rem;
    color: #fff;
}

.hero-heading::after {
    content: "👋";
}

.hero-subheading {
    margin: 0px auto 200px auto;
    font-family: 'Montserrat-Black', sans-serif;
    color: #fff;
}

.box-content {
    background-color: rgb(243, 243, 243);
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px;
    border-radius: 1%;
}

.box-content:hover {
    color: #fff;
    background: rgb(207, 255, 0);
    background: linear-gradient(90deg, rgba(207, 255, 0, 0.6842087176667542) 0%, rgba(0, 212, 255, 0.6674019949776786) 100%);
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px;
    border-radius: 1%;
    transition: 0.2s;
}

.box-content {
    font-family: 'Montserrat-Black', sans-serif;

}

.features .p {
    font-family: 'Montserrat-Black', sans-serif;
}

.boxicon {
    padding-bottom: 15px;
}

#carouselmain .carousel-item {
    height: 500px;

}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    min-width: 100 !important;
    height: auto;
}

.carousel-caption{
    top: 60%;
transform: translateY(-60%);
}

.carousel-caption h3{
    font-size: 5rem;
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
   
}

/* .carousel-caption h3:hover{

    text-decoration: underline solid 5px;
    transition: 0.25s ease-out;
} */

.carousel-caption h3 {
    display: inline-block;
  }
  
  .carousel-caption h3::after {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    background: linear-gradient(90deg, rgba(207, 255, 0, 0.6842087176667542) 0%, rgba(0, 212, 255, 0.6674019949776786) 100%);
    transition: 300ms;
    margin-top: -15px;
  }

  
  
  .carousel-caption h3:hover::after {
    width: 100%;
  }
  
  .nav-item{
    display: inline-block;
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bold;
    padding: 0 20px;
  }
  
  .nav-item::after {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    background: linear-gradient(90deg, rgba(207, 255, 0, 0.6842087176667542) 0%, rgba(0, 212, 255, 0.6674019949776786) 100%);
    transition: 300ms;
   
  }

  
  
  .nav-item:hover::after {
    width: 100%;
  }
  
  .sayhi{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bold;
    vertical-align: baseline;
    text-align: center;
    position: relative;
    top: 200px;
  }
  
  

.carousel-caption p{
    font-size: 2rem;
    font-family: 'Montserrat-Black', sans-serif;
    margin-top: -5px;
}

.alert-bar {
	background: linear-gradient(90deg, rgba(207, 255, 0, 0.6842087176667542) 0%, rgba(0, 212, 255, 0.6674019949776786) 100%);
	color: #fff;
	width: 100%;
	padding: 15px;
	font-size: 16px;
	text-align: center;
    font-family: 'Montserrat-Black', sans-serif;
	font-weight: bold;
	
}

.alert-bar a {
	color: #fff;
  text-decoration: underline;
  font-weight: 400;
}